<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Reports</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body style="margin: 0">
    {% if name %}
    <h2>Hello, {{ name }}!</h2>
    {% else %}
        <div class="login_form">
        <h2>
            This is Daily reports page.<br>
            Please logged in.
            <form method="post">
                <p><input type=text name=username>
                <p><input type=password name=password>
                <p><input type=submit value=Login>
            </form>
        </h2>

        </div>>
    {% endif %}
</body>

</html>