<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add daily report</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<form method="post">
    <div class="content-user">
        <div class = "title-head">
            Hi, {{username}}
            Add Today Tasks and Bugs:
        </div>

        <input id="currenttime" type=date name=date>
        <input id="description" type=text name=task_description>
        <input id="hour" type=text name=task_time>
        <input type=button value=Add>

        <div class = "title-tomorrow">Tomorrow</div>

        <input id="tomorrowtime" type=date name=date>
        <input id="tm_description" type=text name=task_description>
        <input type=button value=Add>

        <div class="logout">
            <a  href="{{ url_for('logout') }}"> Logout </a>

        </div>


    </div>


</form>

</body>
</html>