H2 {
    color: #000080;
    font-size: 200%;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;

}
P {
    padding-left: 20px;
}
.login_form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hide {
    display: none !important;
}

.title-head {
    color: #000080;
    font-size: 150%;
    font-family: Arial;
    margin-bottom: 15px;
    margin-top: 5%;
}

.title-tomorrow {
    color: #000080;
    font-size: 150%;
    font-family: Arial;
    margin-bottom: 15px;
    margin-top: 15px;
}

.content-user {
    margin-left: 5%;
}

.logout {
    margin-top: 20px;
}

.div-margin-top {
    margin-top: 90px;
}